<launch>
  <node name="arduino_interface2" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/arduino _baud:=57600" />
  <node name="IMU" pkg="rctestpkg" type="IMU"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="base_link"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node name="motor2" pkg="rctestpkg" type="motor" />
  <node name="LKtest" pkg="rctestpkg" type="lkdata" />
  <node name="getCarState2" pkg="rctestpkg" type="GetCarState" />
  <node name="CC_MPC2" pkg="rctestpkg" type="CC" />
  <node name="LK_MPC2" pkg="rctestpkg" type="LK_MPC" />
  <node name="central_controller" pkg="rctestpkg" type="central_controller" />
  <node name="motorCommand2" pkg="rctestpkg" type="motorCommand" output="screen" launch-prefix="gnome-terminal --command"/>  

</launch>
